<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Rezultatai</title>
    <link rel="stylesheet" type="text/css" href="/tex/style.css">
</head>
<body>

<div id="container">
    <div id="header">
        <center><h1>Pasirinkite tipsterį</h1></center>
        <div id="tipsters">
            <div id="tipster"><a href="/tex/tipster.php?author=Paulius"><img src="http://nimbo.lt/tex/image/paulius.png" /><br />Paulius</a></div>
            <div id="tipster"><a href="/tex/tipster.php?author=Thomas"><img src="http://nimbo.lt/tex/image/thomas.png" /><br />Thomas</a></div>
            <div id="tipster"><a href="/tex/tipster.php?author=Anglas"><img src="http://nimbo.lt/tex/image/anglas.png" /><br />Anglas</a></div>
        </div>
    </div>

    <div id="stats">

        {% for status, count in headerStats %}
            <b><font>{{ status }}: {{ count }}</font></b>
        {% endfor %}

    </div>

    <div id="content">

        <table border="1">
            <tr>
                <th style='width:5px;'>Nr.</th>
                <th>Data</th>
                <th>Tipsteris</th>
                <th>Šaka</th>
                <th>Įvykis</th>
                <th>Pasirinkimas</th>
                <th>Koef</th>
                <th>Būsena</th>
            </tr>

            {% for bet in bets %}

                <tr class="{{ bet['status'] }}">
                    <td>{{ bet['id'] }}</td>
                    <td>{{ bet['date']|date('Y-m-d') }}</td>
                    <td><a href="tipster.php?author={{ bet['author'] }}">{{ bet['author'] }}</a></td>
                    <td><a href="category.php?sport={{ bet['sport'] }}">{{ bet['sport'] }}</a></td>
                    <td>{{ bet['matchas'] }}</td>
                    <td>
                        {% if showLikeButton(bet['id'], bet['like_count']) %}
                            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fnimbo.lt%2Ftex%2F{{ bet['id'] }}%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:20px;width:100px;" allowTransparency="true"></iframe>
                        {% else %}
                            {{ bet['bet'] }}
                        {% endif %}
                    </td>
                    <td>{{ bet['koef'] }}</td>
                    <td>{{ bet['status'] }}</td>
                </tr>

            {% endfor %}

        </table>

        <center>
            {% for i in 1..numberOfPages %}
                <a href="index.php?page={{ i }}" class="page gradient">{{ i }}</a>
            {% endfor %}
        </center>

    </div>

    <div id="push"></div>

</div>

<div id="footer">
    <center>&copy; 2014 Martynas Stirbys</center>
</div>

</body>
</html>